<div class="jumbotron">
  <h1 class="display-3">Добро пожаловать!</h1>
  <p class="lead">Нутрициология изучает механизмы здорового питания, мотивы выбора пищи человеком, определяет системы питания и стратегии рационального питания человека</p>
  <hr class="my-4">
  <p>Чтобы войти в личный кабинет необходимо зарегистрироваться</p>
  <p class="lead">
    <a class="btn btn-primary" href="/signin" role="button">Войти</a>
    <a class="btn btn-secondary" href="/signup" role="button">Зарегистрироваться</a>
	 {{!-- <button type="button" class="btn btn-secondary disabled">Secondary</button> --}}
	 {{!-- <button type="button" class="btn btn-primary">Primary</button> --}}
  </p>



</div>
