<div class="addNewProduct">
<form action="productAdd" method="post">
<div class="form-group">
  <label class="col-form-label" for="inputDefault">Название продукта</label>
  <input id="dropDownMenu" name="product[name]" value="product[name]" type="text" class="form-control" placeholder="" >
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Калорийность</label>
  <input name="product[calories]" type="text" class="form-control" placeholder="ккал" >
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Белки</label>
  <input name="product[proteins]" type="text" class="form-control" placeholder="гр" >
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Жиры</label>
  <input name="product[fats]" type="text" class="form-control" placeholder="гр" >
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Углеводы</label>
  <input name="product[carbohydrates]" type="text" class="form-control" placeholder="гр" >
</div>

<div class="form-group">
  <label class="col-form-label" for="inputDefault">Порция</label>
  <input name="product[serving]" type="text" class="form-control" placeholder="гр" >
</div>

<button data-function="new_product_send" type="submit" class="btn btn-primary btn-lg btn-block">Добавить продукт</button>
</form>
</div>
